@tailwind base;
@tailwind components;
@tailwind utilities;

/* unit border based on unit cost */
.one-cost, .two-cost, .three-cost, .four-cost, .five-cost {
  border: 1px solid transparent;
}
.one-cost {
  outline: 3px solid #808080;
}

.two-cost {
  outline: 3px solid #11b288;
}

.three-cost {
  outline: 3px solid #207ac7;
}

.four-cost {
  outline: 3px solid #c440da;
}

.five-cost {
  outline: 3px solid #ffb93b;
}