@tailwind base;
@tailwind components;
@tailwind utilities;

/* unit border based on unit cost */
.one-cost,
.two-cost,
.three-cost,
.four-cost,
.five-cost,
.random-cost {
  border: 2px solid transparent;
}

.one-cost {
  outline: 3px solid #808080;
}

.two-cost {
  outline: 3px solid #11b288;
}

.three-cost {
  outline: 3px solid #207ac7;
}

.four-cost {
  outline: 3px solid #c440da;
}

.five-cost {
  outline: 3px solid #ffb93b;
}

.random-cost {
  outline: 3px solid #101115;
}

/* trait icon color based on active trait tier */

.traitTier1 {
  background: linear-gradient(to bottom, #C67D52, #E79263, #995215);
}

.traitTier2 {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}

.traitTier3 {
  background: linear-gradient(to bottom, #CEBB75, #FFE38C, #A78636);
}

.traitTier4 {
  background: conic-gradient(from 180deg at 50% 50%, rgb(181, 249, 177) -25.61deg, rgb(174, 167, 248) 0.63deg, rgb(185, 232, 188) 27.2deg, rgb(246, 254, 216) 56.21deg, rgb(199, 251, 247) 83.01deg, rgb(154, 240, 254) 109.35deg, rgb(245, 236, 255) 129.56deg, rgb(248, 153, 248) 154.85deg, rgb(182, 252, 227) 181.24deg, rgb(126, 147, 242) 210.86deg, rgb(225, 164, 253) 244.3deg, rgb(175, 230, 240) 264.6deg, rgb(243, 241, 199) 287.41deg, rgb(233, 159, 126) 306.52deg, rgb(181, 249, 177) 334.39deg, rgb(174, 167, 248) 360.63deg);
  background-image: conic-gradient(from 180deg at 50% 50%, rgb(181, 249, 177) -25.61deg, rgb(174, 167, 248) 0.63deg, rgb(185, 232, 188) 27.2deg, rgb(246, 254, 216) 56.21deg, rgb(199, 251, 247) 83.01deg, rgb(154, 240, 254) 109.35deg, rgb(245, 236, 255) 129.56deg, rgb(248, 153, 248) 154.85deg, rgb(182, 252, 227) 181.24deg, rgb(126, 147, 242) 210.86deg, rgb(225, 164, 253) 244.3deg, rgb(175, 230, 240) 264.6deg, rgb(243, 241, 199) 287.41deg, rgb(233, 159, 126) 306.52deg, rgb(181, 249, 177) 334.39deg, rgb(174, 167, 248) 360.63deg);
}